@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xxl-6 bg-gradient bg-info">
        col1
    </div>
    <div class="col-xxl-6 bg-gradient bg-secondary">
        col2
     </div>
</div>

<div>
    
</div>