

<div class="container">
    @*method="post" asp-controller="MagacinskaKnjiga" asp-action="Print"*@
    @*asp-page-handler="Print"*@
    <form method="post" asp-controller="MagacinskaKnjiga" asp-action="Print" target="_blank" >

        <div class="row mt-3">

            <div class="alert alert-primary" role="alert">
                @if (ViewBag.Id == "K254")
                {
                    <strong>Magacinska knjiga - K254 Prispeća</strong>
                }
                else
                {
                    <strong>Magacinska knjiga - K117 Otpravljanja</strong>
                }


            </div>


            @if (ViewBag.Admin == true)
            {
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                    <label>Stanica</label>
                    <input class="form-control" list="myDatalist" id="myDatalistInput" name="stanica" />
                    <datalist id="myDatalist" open="open">
                    </datalist>
                </div>
            }
            else
            {
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                    <label>Stanica</label>
                    <input class="form-control" name="stanica" value="@ViewBag.Stanica" readonly />
                </div>
            }


            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-6">

                <label for="formGroupExampleInput" class="form-label">Datum od</label>
                <input type="text" class="form-control" id="DatumOd" name="datumOd" autocomplete="off">

            </div>

            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-6">
                <label for="formGroupExampleInput" class="form-label">Datum do</label>
                <input type="text" class="form-control" id="DatumDo" name="datumDo" autocomplete="off">
            </div>

            <div class="col-xxl-1 col-xl-1 col-lg col-md align-self-end mt-3">
                <button type="submit" class="btn btn-primary align-bottom" asp-controller="MagacinskaKnjiga" asp-route-id="@ViewBag.Id" asp-action="Print">PDF</button>
            </div>

        </div>


    </form>


</div>

@section Scripts {
    <script type="text/javascript">


      


        $(window).on('load', function () {

            var date = new Date(), y = date.getFullYear(), m = date.getMonth();
            var firstDay = new Date(y, m, 1);

            $('#DatumOd').datepicker(       //setuje prvi dan u mesecu
                "update", firstDay
            )

            $('#DatumDo').datepicker(       // setuje danasnji datum
                "update", new Date()
            )
        })



    </script>
}







@*https://stackoverflow.com/questions/15622076/making-html5-datalist-visible-when-focus-event-fires-on-input*@