@model UnosK165aViewModel

<div class="container">

    <form asp-page-handler="K165a_save">

        <div class="row mt-3">

            <div class="alert alert-primary" role="alert">
                <strong>Unos podataka - K165a Iskupljeni tovarni listovi</strong>
            </div>

            <input class="form-control" asp-for="PrStanica" hidden/>

            @if (ViewBag.Admin == true)
            {
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                    <label>Stanica</label>
                    <input class="form-control" list="myDatalist" id="myDatalistInput"  value="@ViewBag.Stanica" name="stanica" autocomplete="off" />
                    <datalist id="myDatalist" open="open">
                    </datalist>
                </div>
            }
            else
            {
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                    <label>Stanica</label>
                    <input class="form-control" name="stanica" value="@ViewBag.Stanica" readonly />
                </div>
            }

            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                <label>Broj prispeća</label>
                <input class="form-control" asp-for="PrBroj" name="prBroj" id="prBroj" autocomplete="off" />
            </div>

            <div class="col-xxl-1 col-xl-1 col-lg col-md align-self-end mt-3">
                <button type="submit" class="btn btn-primary align-bottom" asp-controller="UnosPodataka" asp-action="Pretraga" id="pretraziBtn">Pretraži</button>
            </div>
        </div>

        <div class="row mt-3">


            @if (ViewBag.K165a == true)
            {
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                <label>K165a</label>
                
                <select class="custom-select" name="k165a" asp-items="@ViewBag.k165aList">
                    
                </select>
            </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                    <label>K165a iznos</label>
                    <input class="form-control" asp-for="K165a_iznos" id="K165a_iznos" autocomplete="off" />
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                    <label>K165 Datum</label>
                    <input type="text" class="form-control" asp-for="K165a_datum" id="k165aDatum" name="datumDo"  asp-format="{0:dd\.MM\.yyyy}" autocomplete="off"/>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg col-md align-self-end mt-3">
                    <button type="submit" class="btn btn-primary align-bottom" asp-controller="UnosPodataka" asp-action="K165a_save">Upiši u bazu</button>
                </div>
            }





        </div>


    </form>


</div>

@section Scripts {
    <script type="text/javascript">


 



        $(window).on('load', function () {

            $('#k165aDatum').datepicker()

            if ($('#prBroj').val() != '') {
                $('#pretraziBtn').attr("disabled", false);
            } else {
                console.log('else')
                $('#pretraziBtn').attr('disabled', true)
            }

            
        })


        $(document).ready(function () {

            $('#prBroj').on('input', function () {                                                          // da enable dugme pšretrazi kada se nesto unese Broj prispeca
                if (this.value != '') {
                    $('#pretraziBtn').attr("disabled", false);
                } else {
                    $('#pretraziBtn').attr('disabled', true)
                }
            })

            $('#prBroj').keypress(function (e) {                                                              //Samo unos brojeva i ništa više
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9]/g))
                    return false;
            });


            function numbersAndDotOnly(selector, input) {                                                     //Da prilikom unosa zareza prebaci da bude tačka
                input = input.replace(",", ".");
                var res = "";
                //da ne moze prvi karakter da bude tacka
                if (input.charAt(0) == '.') {
                    input = input.replace(/\.+$/, "");
                }
                //da ne moze dve tacke da ubaci
                if (input.split('.').length > 2) {
                    input = input.replace(/\..+$/, ".");
                }
                //regex za brojeve i tacke
                function validate(s) {
                    var rgx = /^[0-9]*\.?[0-9]*$/;
                    return s.match(rgx);
                }
                for (var i = 0; i < input.length; i++) {
                    if (validate(input[i]) != null) {
                        res += input[i]
                    }
                }
                $('#' + selector).val(res)
            }

            $('#K165a_iznos').on('input', function () {                                                             //decimale 12,2
                numbersAndDotOnly(this.getAttribute('Id'), this.value)

                var val = this.value
                var selector = this.getAttribute('Id')

                var separate = val.split('.')

                console.log('Separate ' + separate)
                console.log('Separate lenght ' + separate.length)

                if (separate.length == 1) {
                    $('#' + selector).val(function () {
                        return val.substr(0, 12)
                    })
                } else if (separate.length == 2) {
                    var sum = parseInt(separate[0].length) + parseInt(3)
                    $('#' + selector).val(function () {
                        console.log('sum ' + sum)
                        return val.substr(0, sum)
                    })
                }
            })

     


        })

    </script>
}







@*https://stackoverflow.com/questions/15622076/making-html5-datalist-visible-when-focus-event-fires-on-input*@